<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6 m6">
                <img class="materialize-logo" src="images/logo/footerfarmilygreen.png" alt="">
                <p>Made with love by <a href="https://github.com/jhuynh85" target="_blank">Joseph Huynh</a> | <a href="https://github.com/Goosetaculous"
                        target="_blank">Goose aka Joseph Aranez</a> | <a href="https://github.com/novialim" target="_blank">Novia Lim</a></p>
            </div>


            <!--     <div class="col s6 m6">
            <h5>About</h5>
            <ul>
              <li><a href="#!">Blog</a></li>
              <li><a href="#!">Pricing</a></li>
              <li><a href="#!">Docs</a></li>
            </ul>
          </div>
          <div class="col s6 m6">
            <h5>Connect</h5>
            <ul>
              <li><a href="#!">Community</a></li>
              <li><a href="#!">Subscribe</a></li>
              <li><a href="#!">Email</a></li>
            </ul>
          </div> -->
            <div class="col s6 m6">
                <h5>Contact</h5>
                <ul>
                    <!--               <li><a href="#!">Twitter</a></li>
              <li><a href="#!">Facebook</a></li> -->
                    <li><a href="https://github.com/novialim/farmily" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>