<ul id="slide-out" class="side-nav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Farmily</a>
            </li>
        </ul>
    </li>
    <li class="waves-effect waves-light"><a class="waves-effect waves-light btn" href="index-2.html">&nbsp;&nbsp;Login/Signup&nbsp;&nbsp;</a>
    </li>
    <li><a class="waves-effect waves-teal aboutus">What We Do?</a></li>
    <li><a class="waves-effect waves-teal" href="/explore">Explore Markets</a></li>
    <li><a class="waves-effect waves-teal" href="/allfarmers">Farmers</a></li>
    <li><a href="https://goo.gl/JybG5Y" target="_blank">Alexa</a></li>
    <li><a class="waves-effect waves-teal" href="/contribute">Contribute</a></li>
</ul>

<div class="section header">
    <div class="background">
        <img src="images/bg1.jpg" alt="">
    </div>
    <div class="header-wrapper row valign-wrapper">
        <div class="col s12">
            <h1>Farmily</h1>
            <span class="tagline">Start Your Wheelbarrow! Welcome to Your Personal Farm to Fork Experience</span>
            <button class="read-more"><i class="icon-caret-down"></i></button>
        </div>
    </div>
</div>

<div class="section black valign-wrapper full-height">
    <div class="row valign">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <!--  <div class="col s12"><h3><p></p><br></h3></div> -->
                <div class="col s12"><h3 class="section-title aboutus-section" id="aboutus">What We Do?</h3></div>
            </div>
            <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
                <div class="col s12 m12 fade-in-out">
                    <!-- <h4><i class="icon-light-bulb"></i></h4> -->
                    <p class="caption">From spectacular beaches to golden sunny weather, San Diego is also home to more
                        than 6,500 farms. In fact, we have more small farms than any other county in the nation,
                        contributing to a $1.5 billion dollar agriculture industry. </p>

                    <p class="caption">Farmily helps home farmers maximize their vital online exposure and presents to
                        you, your personal farm to fork experience.</p>
                </div>

                <div class="row">
                    <div class="col s12"><h3 class="section-title">Who Are We?</h3></div>

                    <div class="col s12 l12">
                        <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">

                            <div class="col s12 m4 fade-in-out">
                                <a href="https://github.com/jhuynh85" target="_blank">
                                    <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="images/team/joseph.jpg" alt="">
                    </span>
                                    </div>
                                </a>
                                <div class="avatar-name">
                                    <span class="name"><strong>Joseph Huynh</strong> <span
                                            class="teal-text accent-1">|</span> </span>
                                    <span class="title">Coding Ninja</span>
                                </div>
                            </div>

                            <div class="col s12 m4 fade-in-out">
                                <a href="https://github.com/Goosetaculous" target="_blank">
                                    <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="images/team/goose.jpg" alt="">
                    </span>
                                    </div>
                                </a>
                                <div class="avatar-name">
                                    <span class="name"><strong>Goose</strong> aka Joseph Aranez <span
                                            class="teal-text accent-1">|</span> </span>
                                    <span class="title">Coding Rockstar</span>
                                </div>
                            </div>

                            <div class="col s12 m4 fade-in-out">
                                <a href="https://github.com/novialim" target="_blank">
                                    <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="images/team/novia.jpg" alt="">
                    </span>
                                    </div>
                                </a>
                                <div class="avatar-name">
                                    <span class="name"><strong>Novia Lim</strong> <span
                                            class="teal-text accent-1">|</span> </span>
                                    <span class="title">Project Manager <span class="teal-text accent-1">|</span> UI <i
                                            class="tiny material-icons white-text">add</i>

                    Coding Jedi</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section light full-height">
    <div class="row">
        <div class="col s12 m10 offset-m1 center">
            <h1>Explore</h1>
            <div class="row masonry-grid">
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/strawberries.jpg"></a> <!-- 600x400 -->
                            <span class="card-title">Strawberries<br>$1.50/lb</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/banana.jpg"></a>
                            <span class="card-title">Bananas<br>$0.19/lb</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/honey.jpg"></a>
                            <span class="card-title">Honey<br>$15.00/tub</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/apples.jpg"></a>
                            <span class="card-title">Apples<br>$0.90/lb</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/avocado.jpg"></a>
                            <span class="card-title">Avocado<br>$3.00/lb</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/almonds.png"></a>
                            <span class="card-title">Natural Roasted Almonds<br>$5.50/lb</span>
                        </div>
                    </div>
                </div>
            </div>
            <a class="white-text" href=blog.html>All Produce</a>
        </div>
    </div>
</div>

<!-- Farms -->
<div class="section black full-height">
    <div class="row">
        <div class="col s12 m10 offset-m1 center">
            <h1 id="topfarms">Top Farms</h1>
            <div class="row masonry-grid">
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/farm1.jpg"></a> <!-- 600x400 -->
                            <span class="card-title">FARM BOY PRODUCE</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/farm2.jpg"></a>
                            <span class="card-title">WONDERFUL VEGGIES</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/farm1.jpg"></a> <!-- 600x400 -->
                            <span class="card-title">FARM BOY PRODUCE</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/farm2.jpg"></a>
                            <span class="card-title">WONDERFUL VEGGIES</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/farm1.jpg"></a> <!-- 600x400 -->
                            <span class="card-title">FARM BOY PRODUCE</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="blog.html"><img src="images/farm2.jpg"></a>
                            <span class="card-title">WONDERFUL VEGGIES</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href=blog.html>All Farms</a>
        </div>
    </div>
</div>
<!-- Contact Us -->
<div class="section light valign-wrapper">
    <div class="container">
        <form>
            <div class="row">
                <div class="col s12"><h2 class="section-title">Contact Us</h2></div>
                <div class="input-field col s6">
                    <input id="first_name" type="text">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                    <a class="waves-effect waves-light btn-large">Button</a>
                </div>
            </div>
        </form>
    </div>
</div>