<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <title>{{> title }}</title>
</head>

<body>
    {{> navbar }}
    {{{ body }}}
    <!--Import jQuery before materialize.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <!--editabletable-->
    <script type="text/javascript" src="js/plugins/editable-table/mindmup-editabletable.js"></script>
    <script type="text/javascript" src="js/plugins/editable-table/numeric-input-example.js"></script>

    <script type="text/javascript">
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        $('#textAreaEditor').editableTableWidget({
            editor: $('<textarea>')
        });
        window.prettyPrint && prettyPrint();
    </script>

    <!-- External libraries -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/ScrollMagic.min.js"></script>
    <script src="js/animation.gsap.min.js"></script>

    <!-- Initialization script -->
    <script src="js/startup.js"></script>
    <script src="js/init.js"></script>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                padding: 200
            });
            autoplay();

            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }
        });
    </script>
    {{> footer }}
</body>

</html>