<!-- Start of content-->
<div class="section teal">
    <div class="background">
        <img class="responsive-img" src="images/404.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
          {{!-- <h1>404</h1> --}}
        </div>
    </div>
</div>