  <!-- Start of content-->
    <div class="section white full-height">
        <div class="background">
            <img src="images/bg6.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <!--Write review panel -->
                <div class="col s12 m8">
                    <div class="card full-height">
                        <div class="card-title minpaddingside">
                            <div class="row updownpad">
                                <div class="col s6 m2">
                                    <span><img class="farmerimg responsive-img" src="images/farmer1.jpg"></span>
                                </div>
                                <div class="col s6 m8 farmerheader valign">
                                    <span id="farmerName" class="left-align"></span>
                                    <div id="farmerAddress" class="farmAddress left-align"><i class="material-icons icon-grey">place</i></div>
                                    <div id="farmerContact" class="farmAddress left-align"><i class="material-icons icon-grey">phone</i></div>
                                </div>
                                <div class="col m2"></div>
                            </div>
                        </div>
                        <div class="card-content minborder full-height minpaddingside">
                            <div class="row">

                                 <form name="addReview" class="col s12 left-alert" id="addReview" action="/api/reviewfarmer/" onsubmit="return validateReviewForm()" method="post">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <div class="label">Your Review</div>

                                            <div class="textareawrapper">
                                                <div class="rateyo" id="rateYo1"></div>
                                                <div class="divider updownpad"></div>
                                                <input class="vendor_id" type="hidden" name="vendor_id" value="">
                                                <input class="uid" type="hidden" name="user_name" value="Norway">
                                                <input type="text" name="rateYoInput" id="rateYoInput" />
                                                <textarea name="review_text" id="reviewtext" class="materialize-textarea" placeholder="Your review helps others learn about great local farmers."></textarea>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="input-field col s12">
                                        <span class="waves-effect waves-light"><a class="waves-effect waves-light btn loginbtn teal">&nbsp;&nbsp;Login/Signup&nbsp;&nbsp;</a></span>
                                        <!-- <button class="btn teal waves-effect waves-light loginbtn" id="signup">Login and Post
                                        <i class="material-icons right">send</i>
                                    </button> -->
                                        <button class="btn teal waves-effect waves-light" id="submitReview" type="submit" >Submit <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Write review panel -->
                <!-- List sample reviews -->
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-title minpaddingside">
                            <span class="review-header-small">Reviews for Connelly Farms</span>
                        </div>
                        <div class="divider minmargin"></div>
                        <div class="card-content minborder">
                            <p class="reviewtxt">review 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ... <a href="#">read more</a></p>
                            <div class="divider updownpad"></div>
                            <p class="reviewtxt">review 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ... <a href="#">read more</a></p>
                            <div class="divider updownpad"></div>
                            <p class="reviewtxt">review 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ... <a href="#">read more</a></p>
                            <div class="divider updownpad"></div>
                            <p class="reviewtxt">review 4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ... <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    document.getElementsByClassName("uid").setAttribute("value", sessionStorage.getItem("userKey"));

    function validateReviewForm() {
        var reviewText = document.forms["addReview"]["review_text"].value;
        var vendorRating = document.forms["addReview"]["rateYoInput"].value; //

        console.log(vendorRating);

        if (reviewText == "") {
            // alert("Name must be filled out");
            Materialize.toast("Let us know what you think about this farmer!", 4000);
            return false;
        } else if (vendorRating == 0) {
            Materialize.toast("Don't forget to give a rating!", 4000);
            return false;
        }
    }
    </script>

    
    <!-- End of Content -->