
<div class="section white full-height">
      <div class="background bg-repeat">
        <img class="bg-repeat" alt="">
        <!-- <img class="responsive-img" src="images/bg4.jpg" alt=""> -->
      </div>

    <div class="container">

        <div class="preloader-background">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row populate-farmer"></div>
    </div>
</div>

<ul class="pagination center-align" id="pagin">
    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
    
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function(){
    $('.preloader-background').delay(1300).fadeOut('slow');
    
    $('.preloader-wrapper')
        .delay(1300)
        .fadeOut();
    });

</script>