
<div class="section white full-height">
    <div class="background">
        <img src="images/bg4.jpg" alt="">
    </div>

    <div class="container">
        <div class="row populate-farmer">

            <!--<div class="col s12 m6">-->

                <!--<div class="card horizontal">-->
                    <!--<div class="card-image">-->
                        <!--<img src="images/farmer1.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-stacked">-->
                        <!--<div class="card-content">-->
                            <!--<h5>Farm Boy Produce</h5>-->
                            <!--<p>Farm Boy Produce grows seasonal fruits and veggies and provides... </p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="/farmer">Find out more</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; Row two &ndash;&gt;-->
            <!--<div class="col s12 m6">-->

                <!--<div class="card horizontal">-->
                    <!--<div class="card-image">-->
                        <!--<img src="images/farmer1.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-stacked">-->
                        <!--<div class="card-content">-->
                            <!--<h5>Farm Boy Produce</h5>-->
                            <!--<p>Farm Boy Produce grows seasonal fruits and veggies and provides... </p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="/farmer">Find out more</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="col s12 m6">-->

                <!--<div class="card horizontal">-->
                    <!--<div class="card-image">-->
                        <!--<img src="images/farmer1.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-stacked">-->
                        <!--<div class="card-content">-->
                            <!--<h5>Farm Boy Produce</h5>-->
                            <!--<p>Farm Boy Produce grows seasonal fruits and veggies and provides... </p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="/farmer">Find out more</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--&lt;!&ndash; Row three &ndash;&gt;-->
            <!--<div class="col s12 m6">-->

                <!--<div class="card horizontal">-->
                    <!--<div class="card-image">-->
                        <!--<img src="images/farmer1.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-stacked">-->
                        <!--<div class="card-content">-->
                            <!--<h5>Farm Boy Produce</h5>-->
                            <!--<p>Farm Boy Produce grows seasonal fruits and veggies and provides... </p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="/farmer">Find out more</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="col s12 m6">-->

                <!--<div class="card horizontal">-->
                    <!--<div class="card-image">-->
                        <!--<img src="images/farmer1.jpg">-->
                    <!--</div>-->
                    <!--<div class="card-stacked">-->
                        <!--<div class="card-content">-->
                            <!--<h5>Farm Boy Produce</h5>-->
                            <!--<p>Farm Boy Produce grows seasonal fruits and veggies and provides... </p>-->
                        <!--</div>-->
                        <!--<div class="card-action">-->
                            <!--<a href="/farmer">Find out more</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        </div>
    </div>
</div>

<ul class="pagination center-align">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>