<div class="section header white full-height">
    <div class="background">
        <!-- <img src="images/restaurant_icons.png" alt=""> -->
        <img class="bg-repeat" alt="">
    </div>

    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb"></a>
                <a href="/explore" class="breadcrumb">Explore</a>
                <a href="#" class="breadcrumb">Market</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col m6 l6">
                    <div class="row">
                        <h4 class="strong" id="market_name">{{title}}</h4>
                        <div class="rating">
                            <!-- to calculate average review rating and update accordingly -->
                            <span class="rating-static rating-45"><span class="userreviewct" id="review_count">{{review_count}}</span><span>&nbsp;reviews</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of header row -->

            <div class="row text-grey text-darken-3 center-align smallrw">
                <div class="col s12 m3 l3 center-align mapborder card-panel white leftsection smallheight">
                    <img class="googlemap imgpadding responsive-img" src="images/mapplaceholder.png" alt="">

                    <!-- farmer map and address details -->
                    <div class="row smallrw">
                        <div class="col m3 l3 right-align"><i class="material-icons icon-grey">place</i>
                        </div>

                        <div class="col m9 l9 left-align">
                            <span id="address_google">address_google</span>
                        </div>
                    </div>

                    <div class="row smallrw">
                        <div class="col m3 l3 right-align">
                            <i class="material-icons icon-grey">directions</i>
                        </div>
                        <div class="col m9 l9 left-align">
                            <a href="#" id="google_directions"><span >Get Directions</span></a>
                        </div>
                    </div>

                    <div class="row smallrw">
                        <div class="col m3 l3 right-align">
                            <i class="material-icons icon-grey">phone</i>
                        </div>
                        <div class="col m9 l9 left-align">
                            <span id="contact">contact</span>
                        </div>
                    </div>

                    <div class="row smallrw">
                        <div class="col m3 l3 right-align">
                            <i class="material-icons icon-grey">favorite</i>
                        </div>
                        <div class="col m9 l9 left-align">
                            <span id="produce">produce1, produce2, produce3</span>
                        </div>
                    </div>
                </div>

                <!-- scrolling images with mouse over effect -->
                <div class="col s12 m9 l9">
                    <div class="carousel">
                        {{#each photos}}
                            <a class="carousel-item" href="#" onclick="return false;"><img src="{{this}}"</a>
                        {{/each}} 
                    </div>
                </div>
            </div>

            <div class="row reviews">
                <div class="col s12 m12">
                    <h4><span class="red-text">Top Produce</span></h4>
                </div>

                <div class="row">
                    <div class="col s12 m9">
                        <div class="card">
                            <div class="card-content black-text">
                                <span class="card-title">These are your favorite produce</span>
                                <p>Loop thru top ten products, Apple <span class="blue-text">(Farmboy Produce)</span>, Orange,
                                    Pears, Wine, Cookies and link them to Farmers</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                            <!-- <div class="card-action center-align">
                    <a href="#">Start your review of Farm Boy Produce.</a>
                  </div> -->
                        </div>
                    </div>

                    <div class="col s12 m3 l3">

                        <div class="card white">
                            <div class="card-content black-text center-align">
                                <span class="card-title">Stall Information</span>
                            </div>
                            <div class="card-action">
                                <p class="red-text strong">Hours</p>
                                <p class="black-text" id="openinghours"><span class="strong">Wed:</span>&nbsp;&nbsp;<span>3:00PM - 5:00PM</span></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col s12 m12">
                    <h4><span class="red-text">Your Favorite Farmers</span></h4>
                </div>
                
                <section id="vendors">

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card medium">
                                <div class="card-image">
                                    <img src="images/farmboyproduce.jpg">
                                    <span class="card-title">Farm Boy Produce</span>
                                </div>
                                <div class="card-content">
                                    <p>Outstanding produce! I arrived around 9:30 am and the market was in full swing. Parking wasn't
                                        too much of a challenge. I was able to find street parking on Cleveland & Richmond. I
                                        then had to walk only one block and was in the middle of the market. The market is three
                                        full city blocks down Normal Street from Lincoln Ave to University Avenue.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Link to Farm Boy Produce</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card medium">
                                <div class="card-image">
                                    <img src="images/farmboyproduce.jpg">
                                    <span class="card-title">Farmer 2</span>
                                </div>
                                <div class="card-content">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Link to Farmer 2</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card medium">
                                <div class="card-image">
                                    <img src="images/farmboyproduce.jpg">
                                    <span class="card-title">Farmer 3</span>
                                </div>
                                <div class="card-content">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Link to Farmer 3</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card medium">
                                <div class="card-image">
                                    <img src="images/farmboyproduce.jpg">
                                    <span class="card-title">Farmer 4</span>
                                </div>
                                <div class="card-content">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Link to Farmer 4</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- row 3 -->
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card medium">
                                <div class="card-image">
                                    <img src="images/farmboyproduce.jpg">
                                    <span class="card-title">Farmer 5</span>
                                </div>
                                <div class="card-content">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Link to Farmer 5</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card medium">
                                <div class="card-image">
                                    <img src="images/farmboyproduce.jpg">
                                    <span class="card-title">Farmer 6</span>
                                </div>
                                <div class="card-content">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Link to Farmer 6</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
        <!-- End of container -->

        <!--       <div class="header-wrapper row valign-wrapper">
        <div class="col s12 m6 offset-m3 valign">
          <h2>Farmer Page!</h2>
          <span class="tagline">Lucas ipsum dolor sit amet droid darth tatooine kenobi kessel leia jade mustafar moff lando. Solo endor antilles darth owen luke darth c-3po fisto. Twi'lek fett wedge sidious amidala alderaan calamari. Ewok maul fisto padmé maul fett k-3po hutt. Kessel calrissian darth dantooine watto wedge solo dagobah ponda. Wookiee dooku droid skywalker. Jinn hutt ahsoka chewbacca palpatine. Darth grievous yoda mace. Ackbar qui-gonn leia skywalker solo calrissian yoda. Lars dantooine moff kashyyyk hutt mandalorians c-3p0.</span>
        </div>
      </div>
 -->
    </div>
</div>

<script>
    $.get("/api/viewmarket/{{id}}", (result) => { 
        let market = result.result[0];
        let vendorsArr = market.Vendors;
        console.log("Market JSON:", market);

        // Populate fields with market data
        $('#address_google').text(market.address_google);
        $('#contact').text(market.contact);
        $('#google_directions').attr('href', "https://maps.google.com?q="+encodeURIComponent(market.address_google));
        $('#openinghours').html(`<span class="strong">${market.opening_day}</span>&nbsp;&nbsp;<span>${market.openinghours}</span>`);

        // Populate vendor section
        $('#vendors').empty();
         for (let i=0; i<vendorsArr.length; i++){
            let vendor = vendorsArr[i];

            // Vendor image div
            let vendorImg = $('<div>').addClass('card-image');
            vendorImg.append($('<img>').attr('src', `images/farmer${vendor.vendor_id}.jpg`));
            vendorImg.append($('<span>').addClass('card-title').text(vendor.vendor_name));
        
            // Vendor text div
            let vendorText = $('<div>').addClass('card-content');
            vendorText.append($('<p>').text(vendor.vendor_text));

            // Vendor link
            let vendorLink = $('<div>').addClass('card-action');
            vendorLink.append($('<a>').attr('href', '/farmer?id='+vendor.vendor_id).text('MORE INFO'));

            // Start new row if index is even
            if (i%2===0){            
                // Create row div                
                let row = $('<div>').addClass('row')
                    .append($('<div>').addClass('col s12 m6')
                        .append($('<div>').addClass('card medium')
                            .append(vendorImg, vendorText, vendorLink)));
                
                $('#vendors').append(row);
                console.log("Successfully added row!");
            }

            // Add to bottom row if index is odd
            else {
                console.log("Adding new column!");
                let elem = $('#vendors').children().last();
                elem.append($('<div>').addClass('col s12 m6')
                    .append($('<div>').addClass('card medium')
                        .append(vendorImg, vendorText, vendorLink)));
                console.log("Successfully added column!");
            }
        } 
    })
    .fail((err)=> {
        console.log("Error:", err);
    });
</script>