<div class="section white full-height">
    <div class="background">
        <img src="images/bg3.jpg" alt="">
    </div>

    <div class="container">
        <div class="row">

            <!-- Row one -->
            <div class="col s6 m3">

                <div class="card small">
                    <div class="card-image">
                        <img src="images/farmer1.jpg">
                        <span class="card-title">Connelly Farms</span>
                    </div>
                    <div class="card-content minborder">
                        <p>Connelly Farms grows seasonal fruits and veggies and provides them to local customers from "the Farm" stand in Ramona. They also have our "Farm" stand bags available.</p>

                    </div>
                    <div class="card-action">
                        <!-- <a href="#">This is a link</a> -->
                        <div class="rateyo" id="rateYo1"></div>

                    </div>
                </div>

            </div>
            <div class="col s6 m3">

                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>

            <div class="col s6 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>

            <div class="col s6 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>

            <!-- Row two -->
            <div class="col s6 m3">

                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>
            <div class="col s6 m3">

                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>

            <div class="col s6 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>

            <div class="col s6 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content minborder">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <div class="rateyo"></div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery.rateyo.js"></script>