html {
    font-family: 'Open Sans', GillSans, Calibri, Trebuchet, sans-serif;
  }

:target:before {
content:"";
display:block;
height:90px; /* fixed header height*/
margin:-90px 0 0; /* negative fixed header height */
}  

.background {
    background-image: url("../images/ecailles.png") !important;
    background-repeat: repeat !important;
}

.strong {
  font-weight: bolder;
}

.mapborder
{
  border:1px solid #ffffff;  
   margin-top:-30px; 
}

.imgpadding {
  border:1px solid #d5d5d5;  
  margin-top: 6px;
}

i.icon-grey {
    color: grey;
}

.reviews {
  border:1px solid #ffffff;
}

.smallheight {
  line-height: 120%;
}

.smallrw {
  margin-bottom: 9px;
}

.carousel .carousel-item {
  width:250px !important;
}

.carousel {
  margin-top: -85px !important;
}

.userreviewct {
  margin-left: 70px;
}

.avatar {
  max-height: 50px;
}

.reviewtxt {
  line-height: 110%;
}

.cardpaddng {
  padding-top: 5px;
}

.farmimg {
  border-radius: 10px;
}

.farmeeheader {
  padding-bottom: 5px !important;
  margin-bottom: 0px !important;
}

.halfopac {
  background: rgba(255, 255, 255, 0.6)
}

.rcorners {
  border-radius: 25px;
}

.minborder {
  padding: 7px !important;
}

.minpaddingside {
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.minmargin {
  margin: 1px 7px 1px 7px !important;
}

.updownpad {
  margin: 7px 1px 7px 1px;
}

.review-header-small {
  font-size: 0.7em;
  font-weight: bold;
  color: #009688;
}

.strong-text {
  font-weight: bold !important;;
}

.text-ht-small {
  line-height: 0.5em;
}

.cardimg {
  max-height: 150px;
}

.farmAddress {
  font-size: 0.6em;
}

.textareawrapper {
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 8px;
}

.farmerimg {
  max-height: 100px;
  border-radius: 5px;
  padding-top: 7px;
}

#map {
  height: 115%;
  width: 100%;
  top:0px;
  left:0px;
  position: fixed;
}

#sidemenuwrapper {
  background-color: #FFFFFF;
  /*border: 2px solid black;*/
  position: absolute;
  left: 10px;
  top: 70px;
  width: 35%;
  height: 88%;
}

#sidemenuheaderPH {
  background-color: #52c7b8;
  height: 1.5em;
}

#sidemenuheader > h4 {
  font-weight: bolder;
  padding: 0 0.5em;
  letter-spacing: 2px;
}

#sidemenucontent {
  clear: left;
  border-top: 1px solid rgba(82, 199, 184, .5);
  overflow-y: scroll;
  height: 73.5%;
  line-height: 135%;
}

.sidemenudays {
  float: left;
  padding: 0.5em 1.2em;
  width:14%; 
}

.contentimg {
  padding: 0;
  width: 100%
}

.content-detailimg {
  padding: 0;
  width: 100%
}

figure {
  margin: 0;
  margin-bottom: 5px;
  width: 100%;
  float: left;
  position: relative;

}

.img-caption {
  position: absolute;
  top: -20px;  
  width: 20px;
}

/* mouse over link */
.dayclick:hover {
    color: red;
    cursor:pointer;
}

.marketWrapper > *{
  padding: 0.1em 2em;
}

.marketHeader {
  padding: 0 1.0em;
  font-size: 1.3em;
  font-weight: bolder;
  color: #47ada0;
  padding-bottom: 8px;
}

.marketAddress {
  font-weight: bold;
  padding-bottom: 8px;
}

.marketDays {
  font-weight: bold;
}

.marketDay {
 padding-bottom: 3px; 
}

.marketSN {
  color: #E42229;
  position: relative;
  float: left;
  font-size: 1.5em;
  font-weight: bolder;
  height: 4.5em;
  width: 0.2em;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.marketTime {
  padding-left: 2.3em;
}