html {
    font-family: 'Open Sans', GillSans, Calibri, Trebuchet, sans-serif;
  }

.background {
    background-image: url("../images/ecailles.png") !important;
    background-repeat: repeat !important;
}

.strong {
  font-weight: bolder;
}

.mapborder
{
  border:1px solid #ffffff;  
   margin-top:-30px; 
}

.imgpadding {
  border:1px solid #d5d5d5;  
  margin-top: 6px;
}

i.icon-grey {
    color: grey;
}

.reviews {
  border:1px solid #ffffff;
}

.smallheight {
  line-height: 120%;
}

.smallrw {
  margin-bottom: 9px;
}

.carousel .carousel-item {
  width:250px !important;
}

.carousel {
  margin-top: -85px !important;
}

.userreviewct {
  margin-left: 70px;
}

.avatar {
  max-height: 50px;
}

.reviewtxt {
  line-height: 110%;
}

.cardpaddng {
  padding-top: 5px;
}

.farmimg {
  border-radius: 10px;
}

.farmeeheader {
  padding-bottom: 5px !important;
  margin-bottom: 0px !important;
}

.halfopac {
  background: rgba(255, 255, 255, 0.6)
}

.rcorners {
    border-radius: 25px;
}


/*Start of Rating*/



/*End of Rating*/